.App {
  margin:0;;
}

.SwaggerDebug {
  margin: 10px;
  max-height: 400px;
  overflow: auto;
}

p{
  font-size: 14px;
}

a{
  color: black;
}

h1{
  margin: 5px;
  font-weight: 400;
}


.todos {
  padding: 20px;
  background-color: black;
  overflow: scroll;
}

.tododiv{
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  overflow: scroll;
  border: 3px solid rgb(128, 0, 21);
}

.title{
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.url{
  cursor: pointer;
}

.completed{
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  overflow: scroll;
  border: 3px solid green;
}

.mainTitle{
  margin: 10px;
  color: white;
}

.noCompleted{
  color: rgb(82, 9, 9);
}

.completedText{
  color: rgb(3, 53, 3);
}


