* {
  font-family: 'Montserrat', sans-serif;
}

.App {
  margin:0;;
}

.SwaggerDebug {
  margin: 10px;
  max-height: 400px;
  overflow: auto;
}

p{
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #999;
  padding-top: 0px !important;
  margin-top: 0px !important;
}

a{
  color: purple;
  font-size: 0.9rem;
}

h1{
  font-weight: 400;
  color: #888;
  text-transform: uppercase;
  font-size: 1.2rem;
}

h2 {
  color: #888;
  font-size: 1.2rem;
  margin-bottom: 5px;
  margin-top: 0px;
}

.completed h2 {
  text-decoration: line-through;
}

hr {
  border-top: 1px dashed #ccc;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header {
  height: 70px;
}

.todos {
  padding: 0 20px 20px 20px;
  background-color: #f8f8f8;
  overflow: scroll;
  margin-top: -5px;
}

.tododiv{
  border-radius: 2px;
  padding: 20px;
  background: #fff;
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 5px;
}

.title{
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.url{
  cursor: pointer;
}

.completed{
  border-radius: 5px;
  margin-bottom: 15px;
  overflow: scroll;
  padding: 20px;
  margin-top: 15px;
  background: #eee;
  box-shadow: 1px 1px 1px #ccc;
}

.mainTitle{
  color: #fff;
  margin: 0;
  padding: 20px;
  margin-left: 0;
  border-radius: 0 0 0 3px;
  background: purple;
  box-shadow: 1px 1px 1px #ccc;
}

.completedText{
  color: #888;
}

.App__todos___1J-e9 {
  background: #eee;
}


